<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header class="header">
      <a href='/' class ='site-title'><h1 class='site-title'>Facespace</h1></a>
      <% if (currentUser.name === undefined){ %>
         <a href="/signin" class = 'signin-button '>Sign In</a>
      <% } else { %>
        <a href="/signin" class = 'signin-button '>Hello, <%= currentUser.name %> </a>
      <% } %>
  </header>