<%- include('../partials/header') %>
<div class = 'home-page'>
    <h2>
        All Facespace members
    </h2>
    <ul class="homepage__all">
        <% users.forEach(user => { %>
        <li class="homepage__all--user">
          <a href="/users/<%= + user._id %>"><img src="<%= user.avatarUrl %>" /></a>
           <% if (currentUser.friends != undefined && currentUser.friends.includes(user._id) ){ %>
          <span class="ribbon">Friends!</span>
        <% }  %> 
        </li>
        <% }) %>
      </ul>
</div>
<%- include('../partials/footer') %>